{{!-- <div class="container">
  <div class="columns is-mobile">
    <div class="column">
      <div class="card">
        <div class="card-content">
          <div class="content">
            <div class="control">
              <label class="label">View Products</label>
              <label class="label">Select Product</label>
              <div class="select">
                <select id="select">
                  <option>All Products</option>
                  {{#each products}}
                    <option id="{{id}}">{{name}}</option>
                  {{/each}}
                </select>
              </div>
            </div>
            <br />
          </div>
        </div>
      </div>
    </div>
  </div>
</div> --}}

<div class="container">
  <div class="columns is-mobile">
    {{#if products.length}}
    <div class="column">
      <h2>Your Products</h2>
      <div class="card">
        <div class="card-content">
          <div id="productDiv" class="content">
            <ul id="productList">
              {{#each products}}
                <li>
                  <label class="label">{{product_name}}</label>
                  <p>Brand: {{brand}}</p>
                  <p>Cost: {{cost}}</p>
                  <p>Body Type: {{body_type}}</p>
                  <p>Category: {{category_id}}</p>
                </li>
              {{/each}}
            </ul>
          </div>
        </div>
      </div>
    </div>
    {{/if}}
  </div>
</div>

<a href="/dashboard/add" class="button">Add New Product</a>
<br>
