{{!-- <div class="container">
  <div class="columns is-mobile">
    <div class="column">
      <div class="card">
        <div class="card-content">
          <div class="content">
            <div class="control">
              <label class="label">View Products</label>
              <label class="label">Select Product</label>
              <div class="select">
                <select id="select">
                  <option>All Products</option>
                  {{#each product}}
                    <option id="{{id}}">{{name}}</option>
                  {{/each}}
                </select>
              </div>
            </div>
            <br />
          </div>
        </div>
      </div>
    </div>
  </div>
</div> --}}

<div class="container">
  <div class="columns is-mobile">
    {{#if product.length}}
    <div class="column">
      <h2>Your Products</h2>
      <div class="card">
        <div class="card-content">
          <div id="productDiv" class="content">
            <div id="productList">
              {{#each product_name}}
                <ul>
                  <label class="label">{{product_name}}</label>
                  <li>Brand: {{brand}}</li>
                  <li>Cost: {{cost}}</li>
                  <li>Body Type: {{body_type}}</li>
                  <li>Category: {{category_id}}</li>
                </ul>
              {{/each}}
            </div>
          </div>
        </div>
      </div>
    </div>
    {{/if}}
  </div>
</div>

<a href="/dashboard/add" class="button">Add New Product</a>
<br>
<br>
<a href="/api/product/view" class="button" id="viewProducts">View Product</a>
<br>
